<div>
    <div class="d-flex align-items-center justify-content-center">
        <h1 style="margin: 30px;">Welcome</h1>

    </div>
    <div class="d-flex align-items-center justify-content-center">
        <p><br>請務必先跑過後端的 code，否則將預設為keyword是 sql injection</p>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <p><br>Features 為功能介紹</p>
    </div>
        <div class="d-flex align-items-center justify-content-center">
        <p><br>Top Comments 會產生與後端相對應的 Comment Map 和 Top Comments</p>
    </div>
</div>