<h2 style="margin: 30px;">Comment Map</h2>
<p style="margin: 30px;font-size:18px;">
    Comment map 是以憑藉 pycld2 判定語言為英文的評論內容，經由 yake 找出所有評論前 30 個主要在講的主題，最後以主題出現在評論裡的次數作為 node 的大小，以主題出現於同評論為 link，透過 pyvis 繪出的圖。Comment map 的目的是希望能了解一開始查詢的 keyword 找到的影片底下的留言中主要談論的主題，以此，使用者也可以了解如果想進一步了解這個 keyword 可以往什麼方向查詢。
</p>
<h2 style="margin: 30px;">Top Comments</h2>
<p style="margin: 30px;font-size:18px;">
    Top Comments 的頁面是從找到的影片中，以 SQL query 找到的該影片最高讚數的評論，顯示該影片的封面圖、標題、作者以及最高讚數的評論的作者、作者頭像、評論發佈時間、評論、讚數，而使用者可以藉由點擊影片的封面圖連接到該影片的 YouTube 介面。Top comments 的目的是希望使用者能以其作為了解影片的其中一個媒介。
</p>